/* SCROLLBAR */
html, body {
    background-color: #1e1e1f;
    margin: 0;
    padding: 0;
    overflow-y: scroll; /* Enable vertical scrolling for the entire body */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #808394 #282829; /* thumb and track color */
    overflow-y:visible; /* Remove vertical scrollbar */
    overflow-x:hidden;
  }
  
  body::-webkit-scrollbar {
    width: 6px; /* Set the width of the scrollbar */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #585858; /* Set the color of the thumb */
    border-radius: 10px; /* Round the corners of the thumb */
  }
  
  body::-webkit-scrollbar-track {
    background-color: #282829; /* Set the color of the track */
    border-radius: 10px; /* Round the corners of the track */
  }
  
  
  /* SCROLLBAR END */
  
.element-portfolio-all {
  background-color: #121212;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element-portfolio-all .overlap-wrapper {
  background-color: #121212;
  overflow: hidden;
  width: 1270px;
  height: 1900px;
}

.element-portfolio-all .overlap {
  position: relative;
  width: 1440px;
  height: 2700px;
  background-color: #1e1e1f;
  border-radius: 15px;
  border: 1px solid;
  border-color: #343333;

}

.element-portfolio-all .portfolio {
  position: absolute;
  width: 495px;
  height: 352px;
  top: 146px;
  left: 88px;
}

/* FIRST ALBUM */
.element-portfolio-all .div-1 {
    position: absolute;
    width: 541px;
    height: 351px;
    top: 350px;
    left: -43px;
    right: 1500px;
  }
  
  .element-portfolio-all .text-wrapper-2-1 {
    position: absolute;
    width: 537px;
    top: 379px;
    left: 130px;
    right: 200px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .element-portfolio-all .text-wrapper-3-1 {
    position: absolute;
    width: 319px;
    top: 423px;
    left: 130px;
    right:200px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #637bfd;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .element-portfolio-all .stock {
    position: absolute;
    width: 495px;
    height: 352px;
    top: 0;
    right:0px;
    left: 130px;
  }

  /* END ALBUM 1 */

.element-portfolio-all .text-wrapper {
  width: 307px;
  top: 0;
  left: 0;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 50px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.element-portfolio-all .rectangle {
  position: absolute;
  width: 61px;
  height: 9px;
  top: 81px;
  left: 0;
}

.element-portfolio-all .album {
  position: absolute;
  width: 537px;
  height: 483px;
  top: 428px;
  left: 116px;
}

.element-portfolio-all .div {
  position: absolute;
  width: 541px;
  height: 351px;
  top: 350px;
  left: 680px;
}

.element-portfolio-all .text-wrapper-2 {
  position: absolute;
  width: 537px;
  top: 379px;
  left: 0;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.element-portfolio-all .text-wrapper-3 {
  position: absolute;
  width: 319px;
  top: 423px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #637bfd;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.element-portfolio-all .toro {
  position: absolute;
  width: 495px;
  height: 352px;
  top: 0;
  left: 2px;
}

.element-portfolio-all .overlap-group {
  position: absolute;
  width: 1082px;
  height: 351px;
  top: 855px;
  left: 118px;
}

.element-portfolio-all .album-2 {
  position: absolute;
  width: 541px;
  height: 477px;
  top: 0;
  left: -30px;
}

.element-portfolio-all .text-wrapper-4 {
  position: absolute;
  width: 537px;
  top: 373px;
  left: 0px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.element-portfolio-all .text-wrapper-5 {
  width: 319px;
  top: 417px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #637bfd;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  left: 0;
}

.element-portfolio-all .web-prototype {
  width: 495px;
  height: 351px;
  top: 0;
  object-fit: cover;
  position: absolute;
  left: 0;
}

.element-portfolio-all .album-3 {
  position: absolute;
  width: 542px;
  height: 477px;
  top: 0;
  left: 565px;
}

.element-portfolio-all .text-wrapper-6 {
  position: absolute;
  width: 537px;
  top: 373px;
  left: 1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.element-portfolio-all .text-wrapper-7 {
  position: absolute;
  width: 319px;
  top: 417px;
  left: 1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #637bfd;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.element-portfolio-all .gdsc {
  position: absolute;
  width: 495px;
  height: 351px;
  top: 0;
  left: 0;
}

.element-portfolio-all .overlap-2 {
  position: absolute;
  width: 1081px;
  height: 482px;
  top: 1360px;
  left: 118px;
}

.element-portfolio-all .album-4 {
  position: absolute;
  width: 541px;
  height: 482px;
  top: 0;
  left: -30px;
  right: 150px;
}

.element-portfolio-all .text-wrapper-8 {
  position: absolute;
  width: 537px;
  top: 378px;
  left: 0;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}


.element-portfolio-all .text-wrapper-9 {
  position: absolute;
  width: 319px;
  top: 422px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #637bfd;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.element-portfolio-all .img {
  position: absolute;
  width: 495px;
  height: 352px;
  top: 0;
  left: 130px;
}

.element-portfolio-all .album-5 {
  position: absolute;
  width: 541px;
  height: 482px;
  top: 0;
  left: 565px;
}

.element-portfolio-all .navbar {
  position: absolute;
  width: 1037px;
  height: 49px;
  top: 270px;
  left: 88px;
}


.element-portfolio-all button {
  background: none; /* Remove the background color */
  border: none; /* Remove the border */
  outline: none; /* Remove the outline on focus/click */
  cursor: pointer;
  padding: 0;
  margin: 0; /* Remove any default margin */
  transition: color 0.3s; /* Add transition for smooth color change */
}

.element-portfolio-all button:hover {
  color: #637bfd; /* Change color on hover */
}

.element-portfolio-all .text-wrapper-10,
.element-portfolio-all .text-wrapper-11,
.element-portfolio-all .text-wrapper-12,
.element-portfolio-all .text-wrapper-13,
.element-portfolio-all .text-wrapper-14 {
position: absolute;
font-family: "Inter-Regular", Helvetica;
font-weight: 700;
color: #ffffff;
font-size: 18px;
text-align: center;
letter-spacing: 0;
line-height: normal;
}


.element-portfolio-all .text-wrapper-10 {
  width: 50px;
  left: 0;
  color: #ffffff;
  position: absolute;
  top: 0;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.element-portfolio-all .text-wrapper-11 {
  width: 138px;
  left: 120px;
  color: #ffffff;
  position: absolute;
  top: 0;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.element-portfolio-all .text-wrapper-12 {
  width: 168px;
  left: 320px;
  position: absolute;
  top: 0;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.element-portfolio-all .text-wrapper-13 {
  position: absolute;
  width: 259px;
  top: 0;
  left: 560px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.element-portfolio-all .text-wrapper-14 {
  width: 237px;
  left: 870px;
  position: absolute;
  top: 0;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}


/* HEADER NAVIGATION - START */
.element-portfolio-all .HEADER-NAVIGATION {
    position: absolute;
    width: 1282px;
    height: 68px;
    top: 0;
    left: 0;
  }
  
  
  .element-portfolio-all .overlap-6 {
    position: relative;
    width: 1270px;
    height: 78px;
    background-color: #282829;
    border: 1px solid;
    border-color: #343333;
  }
  
  .element-portfolio-all .text-wrapper-19 {
    position: absolute;
    width: 306px;
    top: 18px;
    left: 38px;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
  }
    
  .element-portfolio-all button {
      background: none; /* Remove the background color */
      border: none; /* Remove the border */
      outline: none; /* Remove the outline on focus/click */
      cursor: pointer;
      padding: 0;
      margin: 0; /* Remove any default margin */
      transition: color 0.3s; /* Add transition for smooth color change */
    }
    
    .element-portfolio-all button:hover {
      color: #637bfd; /* Change color on hover */
    }
    
    .element-portfolio-all .text-wrapper-20,
    .element-portfolio-all .text-wrapper-21,
    .element-portfolio-all .text-wrapper-22,
    .element-portfolio-all .text-wrapper-23,
    .element-portfolio-all .text-wrapper-24 {
    position: absolute;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .element-portfolio-all .text-wrapper-20 {
    width: 102px;
    top: 30px;
    left: 580px;
  }
  
  .element-portfolio-all .text-wrapper-21 {
    width: 102px;
    top: 30px;
    left: 700px;
  }
  
  .element-portfolio-all .text-wrapper-22 {
    width: 122px;
    top: 30px;
    left: 820px;
  }
  
  .element-portfolio-all .text-wrapper-23 {
    width: 74px;
    top: 30px;
    left: 960px;
  }
  
  .element-portfolio-all .text-wrapper-24 {
    width: 92px;
    top: 30px;
    left: 1060px;
  }
  
  .element-portfolio-all .hamburger-menu {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 20px;
    left: 1200px;
    object-fit: cover;
    filter: grayscale(100%); /* Initially, the image is fully grayscale */
    transition: filter 0.3s; /* Add a smooth transition effect */
  }
  
  .element-portfolio-all .hamburger-menu:hover {
    filter: grayscale(0%); /* Change the filter to remove grayscale on hover */
  }
  /* HEADER NAVIGATION - END */

